{% extends 'admin/Inicio/index.html' %}
{% block conteudo %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'Css/cadastro/cadastroProduto.css' %}">
    <title>Cadastro de Produto</title>

</head>
<body>

<h2 style="text-align:center;">Cadastro de Produto</h2>

<form method="POST" action="{% url 'cadastro_produto' %}">
    {% csrf_token %}

    <label for="id_fornecedor">Fornecedor:</label>
    {{ form.fornecedor }}

    <label for="id_nome">Nome:</label>
    {{ form.nome }}

    <label for="id_codigo">Código:</label>
    {{ form.codigo }}

    <label for="id_categoria">Categoria:</label>
    {{ form.categoria }}

    <label for="id_unidade_medida">Unidade de Medida:</label>
    {{ form.unidade_medida }}

    <label for="id_quantidade_estoque">Quantidade em Estoque:</label>
    {{ form.quantidade_estoque }}

    <label for="id_validade">Validade:</label>
    {{ form.validade }}

    <label for="id_localizacao">Localização:</label>
    {{ form.localizacao }}

    <label for="id_preco_custo">Preço de Custo:</label>
    {{ form.preco_custo }}

    <label for="id_preco_venda">Preço de Venda:</label>
    {{ form.preco_venda }}

    <button type="submit">Salvar Produto</button>
</form>
{%endblock conteudo%}

</body>
</html>
