{% extends 'admin/Inicio/index.html' %}
{% load static %}
{% block conteudo %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'Css/cadastro/cadastroUsuario.css' %}">
    <title>Cadastro de Usuário</title>
</head>
<body>

    <h2 style="text-align:center;">Cadastro de Usuário</h2>

    <form method="POST" action="{% url 'cadastro_usuario' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <label for="id_nome">Nome:</label>
        {{ form.nome }}

        <label for="id_email">Email:</label>
        {{ form.email }}
        {{ form.email.errors }}

        <label for="id_senha_hash">Senha:</label>
        {{ form.senha_hash }}

        <label for="id_cargo">Cargo:</label>
        <select name="cargo" id="id_cargo">
            <option value="Funcionario">Funcionário</option>
            <option value="Gerente">Gerente</option>
        </select>

        <label for="id_permissao">Permissão:</label>
        {{ form.permissao }}

        <button type="submit">Salvar Usuário</button>
    </form>
    {% endblock conteudo %}
</body>
</html>

