{% extends 'admin/Inicio/index.html' %}
{% block conteudo %}
<form method="post" action="">
    <h1>Cadastro do funcionario</h1>
    <div>
        <input type="text" placeholder="Nome Completo">
    </div>
    <div>
        <input type="text" placeholder="Email">
    </div>
    <div>
        <input type="text" placeholder="Senha">
    </div>
    <div>

        <input type="text" placeholder="CPF">
    </div>
    <div>
        <input type="text" placeholder="Endereço">
    </div>
    <div>
        <input type="text" placeholder="Telefone/celular">
    </div>
    <button>Cadastrar funcionario</button>
</form>
{% endblock %}
