*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
}

header{
    position: fixed;
    text-align: center;
    background: rgb(10, 0, 86);
    border-right: 2px solid black;
    min-height: 100vh;
    min-width: 20%;
    max-width: 12%;
}

header h2{
    color: white;
}

.nav-items button{
    height: 50px;
    width: 100%;
    border: none;
    margin-top: 40px;
}

.nav-items a{
    text-decoration: none;
    color: white;
}

.nav-items .dropdown-cadastrar{
    display: inline;
}

.nav-items .dropdown-exibir{
    display: inline;
}

.nav-items .dropdown-exibir .conteudo-exibir{
    display: none;
}

.nav-items .dropdown-exibir:hover .conteudo-exibir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.nav-items .dropdown-exibir .conteudo-exibir a:hover{
    background-color: gray;
    color: black;

}

.nav-items .dropdown-cadastrar .conteudo-cadastrar{
    display: none;
    
}

.nav-items .dropdown-cadastrar:hover .conteudo-cadastrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.nav-items .dropdown-cadastrar .conteudo-cadastrar a:hover{
    background-color: gray;
    color: black;
}

main{
    display: block;
    background: linear-gradient(45deg, white,gray);
    width: 100vw;   
    padding-left: 20%;
}