*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
}

header{
    text-align: center;
    background: black;
    border-right: 5px solid deeppink;
    min-height: 100vh;
    min-width: 20%;
    max-width: 12%;
    
}

header h2{
    color: white;
}

.nav-items button{
    background-color: black;
    color: white;
    height: 50px;
    width: 90%;
    border: none;
    margin-top: 40px;
}

.nav-items button:hover{
    background-color: deeppink;
    color:black;
    border-radius: 10px;
}

.nav-items a{
    text-decoration: none;
    color: white;
}

.nav-items .dropdown{
    display: inline;
}

.nav-items .dropdown .dropdown-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.nav-items .dropdown:hover .dropdown-conteudo{
    max-height: 500px;
    opacity: 1;
}

.nav-items .dropdown:hover .dropdown-conteudo a:hover{
    background-color: violet;
    color: black;
}


.nav-items .dropdown button a:hover{
    background-color: pink;
}

.nav-items button .icon{
    position: absolute;
    left: 40px;
}

@media (max-width: 1200px){
    .nav-items button .icon{
        display: none;
    }
}

main{
    width: 100%;
    min-height: 100%;   
    padding-left: 10%;
    padding-top: 50px;
}